In [9]:
#import libraries
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8) #adjust the configuration of the plots i will create shortly


#read in data
df = pd.read_csv(r"C:\Users\vudir\Downloads\movies.csv")

In [8]:
# take a look at the data

df.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,19000000.0,Warner Bros.,United Kingdom,Stanley Kubrick,Drama,46998772.0,The Shining,R,"June 13, 1980 (United States)",146.0,8.4,Jack Nicholson,927000.0,Stephen King,1980
1,4500000.0,Columbia Pictures,United States,Randal Kleiser,Adventure,58853106.0,The Blue Lagoon,R,"July 2, 1980 (United States)",104.0,5.8,Brooke Shields,65000.0,Henry De Vere Stacpoole,1980
2,18000000.0,Lucasfilm,United States,Irvin Kershner,Action,538375067.0,Star Wars: Episode V - The Empire Strikes Back,PG,"June 20, 1980 (United States)",124.0,8.7,Mark Hamill,1200000.0,Leigh Brackett,1980
3,3500000.0,Paramount Pictures,United States,Jim Abrahams,Comedy,83453539.0,Airplane!,PG,"July 2, 1980 (United States)",88.0,7.7,Robert Hays,221000.0,Jim Abrahams,1980
4,6000000.0,Orion Pictures,United States,Harold Ramis,Comedy,39846344.0,Caddyshack,R,"July 25, 1980 (United States)",98.0,7.3,Chevy Chase,108000.0,Brian Doyle-Murray,1980

In [10]:
# We need to see if we have any missing data
# Let's loop through the data and see if there is anything missing

for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

budget - 28%
company - 0%
country - 0%
director - 0%
genre - 0%
gross - 2%
name - 0%
rating - 1%
released - 0%
runtime - 0%
score - 0%
star - 0%
votes - 0%
writer - 0%
year - 0%

In [11]:
# Data Types for our columns

print(df.dtypes)

budget      float64
company      object
country      object
director     object
genre        object
gross       float64
name         object
rating       object
released     object
runtime     float64
score       float64
star         object
votes       float64
writer       object
year          int64
dtype: object

In [20]:
#changing data type of desired columns

df['budget'] = df['budget'].fillna(0).astype(np.int64)

df['gross'] = df['gross'].fillna(0).astype(np.int64)

In [21]:
df

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,19000000,Warner Bros.,United Kingdom,Stanley Kubrick,Drama,46998772,The Shining,R,"June 13, 1980 (United States)",146.0,8.4,Jack Nicholson,927000.0,Stephen King,1980
1,4500000,Columbia Pictures,United States,Randal Kleiser,Adventure,58853106,The Blue Lagoon,R,"July 2, 1980 (United States)",104.0,5.8,Brooke Shields,65000.0,Henry De Vere Stacpoole,1980
2,18000000,Lucasfilm,United States,Irvin Kershner,Action,538375067,Star Wars: Episode V - The Empire Strikes Back,PG,"June 20, 1980 (United States)",124.0,8.7,Mark Hamill,1200000.0,Leigh Brackett,1980
3,3500000,Paramount Pictures,United States,Jim Abrahams,Comedy,83453539,Airplane!,PG,"July 2, 1980 (United States)",88.0,7.7,Robert Hays,221000.0,Jim Abrahams,1980
4,6000000,Orion Pictures,United States,Harold Ramis,Comedy,39846344,Caddyshack,R,"July 25, 1980 (United States)",98.0,7.3,Chevy Chase,108000.0,Brian Doyle-Murray,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,7000,NaN,United States,Joseph Ebanks,Drama,0,More to Life,NaN,"October 23, 2020 (United States)",90.0,3.1,Shannon Bond,18.0,Joseph Ebanks,2020
7664,0,Cactus Blue Entertainment,United States,Dusty Dukatz,Comedy,0,Dream Round,NaN,"February 7, 2020 (United States)",90.0,4.7,Michael Saquella,36.0,Lisa Huston,2020
7665,58750,Embi Productions,United States,Nkanya Nkwai,Drama,0,Saving Mbango,NaN,"April 27, 2020 (Cameroon)",NaN,5.7,Onyama Laura,29.0,Lynno Lovert,2020
7666,15000,NaN,United States,James Randall,Drama,0,It's Just Us,NaN,"October 1, 2020 (United States)",120.0,NaN,Christina Roz,NaN,James Randall,2020
7667,0,PK 65 Films,South Africa,Pereko Mosia,Horror,0,Tee em el,NaN,"August 19, 2020 (United States)",102.0,5.7,Siyabonga Mabaso,7.0,Pereko Mosia,2020

In [22]:
#create correct year column due to inconsistencies

df['correctyear'] = df['released'].astype(str).str[:4]

df

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year,correctyear
0,19000000,Warner Bros.,United Kingdom,Stanley Kubrick,Drama,46998772,The Shining,R,"June 13, 1980 (United States)",146.0,8.4,Jack Nicholson,927000.0,Stephen King,1980,June
1,4500000,Columbia Pictures,United States,Randal Kleiser,Adventure,58853106,The Blue Lagoon,R,"July 2, 1980 (United States)",104.0,5.8,Brooke Shields,65000.0,Henry De Vere Stacpoole,1980,July
2,18000000,Lucasfilm,United States,Irvin Kershner,Action,538375067,Star Wars: Episode V - The Empire Strikes Back,PG,"June 20, 1980 (United States)",124.0,8.7,Mark Hamill,1200000.0,Leigh Brackett,1980,June
3,3500000,Paramount Pictures,United States,Jim Abrahams,Comedy,83453539,Airplane!,PG,"July 2, 1980 (United States)",88.0,7.7,Robert Hays,221000.0,Jim Abrahams,1980,July
4,6000000,Orion Pictures,United States,Harold Ramis,Comedy,39846344,Caddyshack,R,"July 25, 1980 (United States)",98.0,7.3,Chevy Chase,108000.0,Brian Doyle-Murray,1980,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,7000,NaN,United States,Joseph Ebanks,Drama,0,More to Life,NaN,"October 23, 2020 (United States)",90.0,3.1,Shannon Bond,18.0,Joseph Ebanks,2020,Octo
7664,0,Cactus Blue Entertainment,United States,Dusty Dukatz,Comedy,0,Dream Round,NaN,"February 7, 2020 (United States)",90.0,4.7,Michael Saquella,36.0,Lisa Huston,2020,Febr
7665,58750,Embi Productions,United States,Nkanya Nkwai,Drama,0,Saving Mbango,NaN,"April 27, 2020 (Cameroon)",NaN,5.7,Onyama Laura,29.0,Lynno Lovert,2020,Apri
7666,15000,NaN,United States,James Randall,Drama,0,It's Just Us,NaN,"October 1, 2020 (United States)",120.0,NaN,Christina Roz,NaN,James Randall,2020,Octo
7667,0,PK 65 Films,South Africa,Pereko Mosia,Horror,0,Tee em el,NaN,"August 19, 2020 (United States)",102.0,5.7,Siyabonga Mabaso,7.0,Pereko Mosia,2020,Augu

In [25]:
del df['correctyear']

In [ ]:
# Are there any Outliers?

df.boxplot(column=['gross'])

In [ ]:
df.drop_duplicates()

In [26]:
# Order our Data a little bit to see

df.sort_values(by=['gross'], inplace=False, ascending=False)

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
5445,237000000,Twentieth Century Fox,United States,James Cameron,Action,2847246203,Avatar,PG-13,"December 18, 2009 (United States)",162.0,7.8,Sam Worthington,1100000.0,James Cameron,2009
7445,356000000,Marvel Studios,United States,Anthony Russo,Action,2797501328,Avengers: Endgame,PG-13,"April 26, 2019 (United States)",181.0,8.4,Robert Downey Jr.,903000.0,Christopher Markus,2019
3045,200000000,Twentieth Century Fox,United States,James Cameron,Drama,2201647264,Titanic,PG-13,"December 19, 1997 (United States)",194.0,7.8,Leonardo DiCaprio,1100000.0,James Cameron,1997
6663,245000000,Lucasfilm,United States,J.J. Abrams,Action,2069521700,Star Wars: Episode VII - The Force Awakens,PG-13,"December 18, 2015 (United States)",138.0,7.8,Daisy Ridley,876000.0,Lawrence Kasdan,2015
7244,321000000,Marvel Studios,United States,Anthony Russo,Action,2048359754,Avengers: Infinity War,PG-13,"April 27, 2018 (United States)",149.0,8.4,Robert Downey Jr.,897000.0,Christopher Markus,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1617,0,Gibraltar Entertainment,United States,Andrew Lane,Crime,0,Mortal Passions,R,"January 26, 1990 (United States)",92.0,4.5,Zach Galligan,274.0,Alan Moskowitz,1989
1614,0,Allied Vision,United Kingdom,Gérard Kikoïne,Horror,0,Edge of Sanity,R,"April 14, 1989 (United States)",85.0,5.2,Anthony Perkins,1300.0,J.P. Félix,1989
1606,0,Trans World Entertainment (TWE),Canada,Tibor Takács,Fantasy,0,"I, Madman",R,"April 7, 1989 (United States)",89.0,6.0,Jenny Wright,2900.0,David Chaskin,1989
1601,0,Budapest Stúdió Vállalat,Hungary,Ildikó Enyedi,Comedy,0,My Twentieth Century,NaN,"January 13, 1990 (Japan)",104.0,7.1,Dorota Segda,1500.0,Ildikó Enyedi,1989
7667,0,PK 65 Films,South Africa,Pereko Mosia,Horror,0,Tee em el,NaN,"August 19, 2020 (United States)",102.0,5.7,Siyabonga Mabaso,7.0,Pereko Mosia,2020

In [31]:
pd.set_option('display.max_rows', )

AttributeError: module 'pandas' has no attribute 'set_options'

In [ ]:
sns.regplot(x="gross", y="budget", data=df)

In [ ]:
sns.regplot(x="score", y="gross", data=df)

In [ ]:
# Correlation Matrix between all numeric columns

df.corr(method ='pearson')

In [ ]:
df.corr(method ='kendall')

In [ ]:
df.corr(method ='spearman')

In [ ]:
correlation_matrix = df.corr()

sns.heatmap(correlation_matrix, annot = True)

plt.title("Correlation matrix for Numeric Features")

plt.xlabel("Movie features")

plt.ylabel("Movie features")

plt.show()

In [ ]:
# Using factorize - this assigns a random numeric value for each unique categorical value

df.apply(lambda x: x.factorize()[0]).corr(method='pearson')

In [ ]:
correlation_matrix = df.apply(lambda x: x.factorize()[0]).corr(method='pearson')

sns.heatmap(correlation_matrix, annot = True)

plt.title("Correlation matrix for Movies")

plt.xlabel("Movie features")

plt.ylabel("Movie features")

plt.show()

In [ ]:
correlation_mat = df.apply(lambda x: x.factorize()[0]).corr()

corr_pairs = correlation_mat.unstack()

print(corr_pairs)

In [ ]:
sorted_pairs = corr_pairs.sort_values(kind="quicksort")

print(sorted_pairs)

In [ ]:
# We can now take a look at the ones that have a high correlation (> 0.5)

strong_pairs = sorted_pairs[abs(sorted_pairs) > 0.5]

print(strong_pairs)

In [ ]:
# Looking at the top 15 compaies by gross revenue

CompanyGrossSum = df.groupby('company')[["gross"]].sum()

CompanyGrossSumSorted = CompanyGrossSum.sort_values('gross', ascending = False)[:15]

CompanyGrossSumSorted = CompanyGrossSumSorted['gross'].astype('int64') 

CompanyGrossSumSorted

In [ ]:
df['Year'] = df['released'].astype(str).str[:4]
df

In [ ]:
df.groupby(['company', 'year'])[["gross"]].sum()

In [ ]:
CompanyGrossSum = df.groupby(['company', 'year'])[["gross"]].sum()

CompanyGrossSumSorted = CompanyGrossSum.sort_values(['gross','company','year'], ascending = False)[:15]

CompanyGrossSumSorted = CompanyGrossSumSorted['gross'].astype('int64') 

CompanyGrossSumSorted

In [ ]:
CompanyGrossSum = df.groupby(['company'])[["gross"]].sum()

CompanyGrossSumSorted = CompanyGrossSum.sort_values(['gross','company'], ascending = False)[:15]

CompanyGrossSumSorted = CompanyGrossSumSorted['gross'].astype('int64') 

CompanyGrossSumSorted

In [ ]:
plt.scatter(x=df['budget'], y=df['gross'], alpha=0.5)
plt.title('Budget vs Gross Earnings')
plt.xlabel('Gross Earnings')
plt.ylabel('Budget for Film')
plt.show()

In [ ]:
df

In [ ]:
df_numerized = df


for col_name in df_numerized.columns:
    if(df_numerized[col_name].dtype == 'object'):
        df_numerized[col_name]= df_numerized[col_name].astype('category')
        df_numerized[col_name] = df_numerized[col_name].cat.codes
        
df_numerized

In [ ]:
df_numerized.corr(method='pearson')

In [ ]:
correlation_matrix = df_numerized.corr(method='pearson')

sns.heatmap(correlation_matrix, annot = True)

plt.title("Correlation matrix for Movies")

plt.xlabel("Movie features")

plt.ylabel("Movie features")

plt.show()

In [ ]:
for col_name in df.columns:
    if(df[col_name].dtype == 'object'):
        df[col_name]= df[col_name].astype('category')
        df[col_name] = df[col_name].cat.codes

In [ ]:
df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

df

In [ ]:
sns.swarmplot(x="rating", y="gross", data=df)

In [ ]:
sns.stripplot(x="rating", y="gross", data=df)